@using PermissionManagement.Utility;
@model PermissionManagement.Model.User
@{
    ViewBag.Title = "Approve User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent {

    <div class="row">
        <div class="form-horizontal col-md-12 col-xs-12 col-xs-offset-0">
            <div class="col-md-12 col-xs-12 col-sm-12 align-text-bottom page-head-line">
                Approver User
            </div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Initial)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Initial)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserRole.RoleName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserRole.RoleName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsLockedOut)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsLockedOut)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)

                    <dt>
                        @Html.DisplayNameFor(model => model.AccountType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BranchID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BranchID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ApprovalStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApprovalStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InitiatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InitiatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ApprovedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApprovedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StaffPosition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StaffPosition)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsDormented)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsDormented)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AccountExpiryDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountExpiryDate)
                    </dd>
                </dl>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="submit" value="Approve" name="action:ApproveUser" class="form-control btn-primary" />
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Reject" name="action:RejectUser" class="form-control btn-primary" />
                        </div>
                        <div class="col-md-4">
                            <input id="rejectChange" type="submit" value="Reject for Correction" name="action:RejectForCorrectionUser" class="form-control btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-8 col-xs-12 col-xs-offset-0">
                        <div id="dialog4" tabindex="-1" role="dialog" aria-labelledby="dialog4Label" aria-hidden="true" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="dialog4Label">Enter Comment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please enter your comment for the approval or rejection.</p>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="ApproverComment">Approver Comment</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control input-sm text-box single-line" id="ApproverComment" name="ApproverComment" type="text" value="" />
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="ApproverComment" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Username", Model.Username)
            }
        </div>
}
@section scripts {
    <script type="text/javascript">
        $("#rejectChange").click(function () { $('#dialog4').modal('show');});
    </script>
}
