@model PermissionManagement.Model.ChangePasswordDto
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent {
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

         <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                <h1 class="page-head-line">Change Password</h1>
                <div class="panel-body" id="LoginDiv">
                    <h5>
                        Please enter your new preferred password to change the password.
                    </h5>
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control input-sm",  type = "Password", placeholder = "Your old password", maxlength = 32 } })
                    </div>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                     <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control input-sm", type = "Password", placeholder = "Your new password", maxlength = 32 } })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control input-sm", type = "Password", placeholder = "Confirm new password", maxlength = 32 } })
                    </div>
                    <div>
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        
     }
 }
